In [35]:
import requests
import sqlite3
from lxml import html
from bs4 import BeautifulSoup
from datetime import date,datetime
import pandas as pd 
import numpy as np

In [48]:
# Read items data

items_df = pd.read_csv("items.csv")
items_df = items_df.drop(["link", "title", "image", "category1_id", "category1_name", "brand", "price", "likes", "description", "keyword1", "keyword2", "keyword3", "keyword4", "keyword5", "keyword6"], axis=1)
items_df = items_df.sort_values('item_id').reset_index(drop=True)
items_df['category1'] = ""
items_df['category2'] = ""
items_df['category3'] = ""

items_df

,item_id,category2_id,category2_name,category3_id,category3_name,category4_id,category4_name,category1,category2,category3
0,10517,60,Jewelry,67,Brooches,0,NaN,,,
1,12045,41,Shoes,46,Sandals,0,NaN,,,
2,14024,318,Handbags,38,Clutches,38,Swarovski clutches,,,
3,36366,11,Tops,19,Sweaters,19,DAY Birger et Mikkelsen sweaters,,,
4,74666,60,Jewelry,64,Earrings,0,NaN,,,
5,78059,2,Clothing,0,NaN,0,NaN,,,
6,98959,11,Tops,104,Tank Tops,104,American Eagle Outfitters tops,,,
7,99084,60,Jewelry,65,Rings,0,NaN,,,
8,105737,2,Clothing,23,Outerwear,24,Coats,,,
9,106678,60,Jewelry,62,Necklaces,0,NaN,,,
10,126851,11,Tops,17,Blouses,17,Charlotte Russe blouses,,,
11,140598,2,Clothing,3,Dresses,3,Biba dresses,,,
12,183612,41,Shoes,0,NaN,0,NaN,,,
13,197231,108,Intimates,68,Hosiery,251,Tights,,,
14,201114,60,Jewelry,106,Bracelets & Bangles,106,Chanel bracelets,,,
15,215615,60,Jewelry,64,Earrings,64,Banana Republic earrings,,,
16,229084,60,Jewelry,64,Earrings,0,NaN,,,
17,234287,41,Shoes,43,Pumps,43,Chie Mihara pumps,,,
18,241194,2,Clothing,11,Tops,104,Tank Tops,,,
19,250891,41,Shoes,42,Boots,261,Ankle Booties,,,
20,251617,51,Accessories,4426,Eyewear,57,Sunglasses,,,
21,300909,2,Clothing,23,Outerwear,0,STELLA McCARTNEY,,,
22,320016,2,Clothing,23,Outerwear,24,Coats,,,
23,323055,2,Clothing,23,Outerwear,0,NaN,,,
24,334804,41,Shoes,47,Flats,0,NaN,,,
25,337558,51,Accessories,4426,Eyewear,57,Sunglasses,,,
26,343261,2,Clothing,27,Jeans,0,NaN,,,
27,374502,60,Jewelry,62,Necklaces,0,NaN,,,
28,389117,35,Bags,318,Handbags,318,Chanel handbags,,,
29,404414,2,Clothing,11,Tops,104,Tank Tops,,,
...,...,...,...,...,...,...,...,...,...,...
355139,230263481,41,Shoes,0,NaN,0,NaN,,,
355140,230264881,41,Shoes,46,Sandals,46,Giuseppe Zanotti sandals,,,
355141,230271181,41,Shoes,46,Sandals,46,Schutz sandals,,,
355142,230284944,2,Clothing,0,NaN,0,NaN,,,
355143,230285770,41,Shoes,46,Sandals,0,NaN,,,
355144,230289049,108,Intimates,68,Hosiery,251,Tights,,,
355145,230289158,60,Jewelry,64,Earrings,0,NaN,,,
355146,230289311,2,Clothing,108,Intimates,0,NaN,,,
355147,230292063,2,Clothing,0,NaN,0,NaN,,,
355148,230293002,35,Bags,318,Handbags,36,Tote Bags,,,
355149,230294115,41,Shoes,49,Sneakers,49,Prada sneakers,,,
355150,230297593,51,Accessories,4426,Eyewear,57,Sunglasses,,,
355151,230299005,42,Boots,261,Ankle Booties,261,N°21 ankle booties,,,
355152,230299013,42,Boots,261,Ankle Booties,261,N°21 ankle booties,,,
355153,230299051,33,Activewear,253,Activewear Pants,253,adidas Originals activewear pants,,,
355154,230303561,2,Clothing,3,Dresses,5,Cocktail Dresses,,,
355155,230303608,2,Clothing,3,Dresses,5,Cocktail Dresses,,,
355156,230304340,2,Clothing,0,NaN,0,NaN,,,
355157,230304898,2,Clothing,28,Pants,28,Topshop pants,,,
355158,230304902,2,Clothing,28,Pants,28,Topshop pants,,,
355159,230304905,2,Clothing,28,Pants,28,Topshop pants,,,
355160,230304906,2,Clothing,28,Pants,28,Topshop pants,,,
355161,230306632,23,Outerwear,25,Jackets,236,Blazers,,,
355162,230306645,23,Outerwear,25,Jackets,236,Blazers,,,
355163,230306902,60,Jewelry,64,Earrings,0,NaN,,,
355164,230307682,35,Bags,0,NaN,0,NaN,,,
355165,230308429,35,Bags,258,Messenger Bags,0,NaN,,,
355166,230308582,41,Shoes,46,Sandals,0,NaN,,,
355167,230347584,11,Tops,21,T-Shirts,21,Yves Saint Laurent t-shirts,,,
355168,230430306,35,Bags,318,Handbags,0,NaN,,,

In [19]:
len(items_df)

355169

In [65]:
import json

# Read item category json data
with open('item_category.json' , 'r') as reader:
    category_json = json.loads(reader.read())

category1_list = []
category2_list = []
category3_list = []
category1_dic = {}
category2_dic = {}
category3_dic = {}
category1_map_category2 = {}
category2_map_category1 = {}
category2_map_category3 = {}
category3_map_category2 = {}
    
# Print to see the contents
for i in xrange(len(category_json)):

    print "Category1-"+str(i)+" "+category_json[i]['category1_name']+"(id="+str(category_json[i]['category1_id'])+")"
    category1_list.append(category_json[i]['category1_id'])
    category1_dic[category_json[i]['category1_id']] = category_json[i]['category1_name']
    category1_map_category2[category_json[i]['category1_id']] = []
    
    for j in xrange(len(category_json[i]['sub_categories'])):
        
        print "    Category2-"+str(j)+" "+category_json[i]['sub_categories'][j]['category2_name']+"(id="+str(category_json[i]['sub_categories'][j]['category2_id'])+")"
        category2_list.append(category_json[i]['sub_categories'][j]['category2_id'])
        category2_dic[category_json[i]['sub_categories'][j]['category2_id']] = category_json[i]['sub_categories'][j]['category2_name']
        category1_map_category2[category_json[i]['category1_id']].append(category_json[i]['sub_categories'][j]['category2_id'])
        category2_map_category1[category_json[i]['sub_categories'][j]['category2_id']] = category_json[i]['category1_id']
        category2_map_category3[category_json[i]['sub_categories'][j]['category2_id']] = []
        
        for k in xrange(len(category_json[i]['sub_categories'][j]['sub_categories'])):
        
            print "        Category3-"+str(k)+" "+category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_name']+"(id="+str(category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_id'])+")"
            category3_list.append(category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_id'])
            category3_dic[category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_id']] = category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_name']
            category2_map_category3[category_json[i]['sub_categories'][j]['category2_id']].append(category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_id'])
            category3_map_category2[category_json[i]['sub_categories'][j]['sub_categories'][k]['category3_id']] = category_json[i]['sub_categories'][j]['category2_id']
            
    print "\n"

# Print category mapping list
print "Category1"
print category1_list
print category1_dic
print "\n"
print "Category1 map Category2"
print category1_map_category2
print "Category2 map Category1"
print category2_map_category1
print "\n"
print "Category2"
print category2_list
print category2_dic
print "\n"
print "Category2 map Category3"
print category2_map_category3
print "Category3 map Category2"
print category3_map_category2
print "\n"
print "Category3"
print category3_list
print category3_dic

Category1-0 Clothing(id=2)
    Category2-0 Dresses(id=3)
        Category3-0 Day(id=4)
        Category3-1 Cocktail(id=5)
        Category3-2 Gowns(id=6)
    Category2-1 Skirts(id=7)
        Category3-0 Mini(id=8)
        Category3-1 Knee Length(id=9)
        Category3-2 Long(id=10)
    Category2-2 Tops(id=11)
        Category3-0 Blouses(id=17)
        Category3-1 Cardigans(id=18)
        Category3-2 Sweaters(id=19)
        Category3-3 Sweatshirts & Hoodies(id=20)
        Category3-4 Tanks(id=104)
        Category3-5 T-Shirts(id=21)
        Category3-6 Tunics(id=15)
    Category2-3 Outerwear(id=23)
        Category3-0 Coats(id=24)
        Category3-1 Jackets(id=25)
        Category3-2 Vests(id=26)
    Category2-4 Jeans(id=27)
        Category3-0 Bootcut(id=238)
        Category3-1 Boyfriend(id=240)
        Category3-2 Flared(id=4452)
        Category3-3 Skinny(id=237)
        Category3-4 Straight Leg(id=310)
        Category3-5 Wide Leg(id=239)
    Category2-5 Pants(id=28)
        Category3-0 Capri & Cropped(id=332)
        Category3-1 Leggings(id=241)
    Category2-6 Shorts(id=29)
    Category2-7 Jumpsuits & Rompers(id=242)
        Category3-0 Jumpsuits(id=243)
        Category3-1 Rompers(id=244)
    Category2-8 Intimates(id=108)
        Category3-0 Bras(id=245)
        Category3-1 Camisoles(id=247)
        Category3-2 Chemises(id=248)
        Category3-3 Hosiery(id=68)
        Category3-4 Sleepwear(id=85)
        Category3-5 Panties & Thongs(id=246)
        Category3-6 Robes(id=250)
    Category2-9 Swimwear(id=31)
        Category3-0 Bikinis(id=1605)
        Category3-1 One Piece(id=1606)
        Category3-2 Cover-Ups(id=1607)
    Category2-10 Activewear(id=33)
        Category3-0 Jackets(id=256)
        Category3-1 Pants(id=253)
        Category3-2 Shorts(id=255)
        Category3-3 Skirts(id=254)
        Category3-4 Sports Bras(id=257)
        Category3-5 Tank Tops(id=309)
        Category3-6 Tops(id=252)


Category1-1 Shoes(id=41)
    Category2-0 Athletic(id=268)
    Category2-1 Boots(id=42)
        Category3-0 Ankle Bootie(id=261)
        Category3-1 Mid Calf(id=262)
        Category3-2 Knee High(id=263)
        Category3-3 Over-The-Knee(id=264)
    Category2-2 Clogs(id=267)
    Category2-3 Flats(id=47)
    Category2-4 Loafers & Moccasins(id=265)
    Category2-5 Oxfords(id=266)
    Category2-6 Pumps(id=43)
    Category2-7 Sandals(id=46)
        Category3-0 Flip Flops(id=48)
    Category2-8 Sneakers(id=49)


Category1-2 Accessories(id=51)
    Category2-0 Bags(id=35)
        Category3-0 Backpacks(id=259)
        Category3-1 Handbags(id=318)
        Category3-2 Messenger Bags(id=258)
        Category3-3 Wallets(id=40)
    Category2-1 Jewelry(id=60)
        Category3-0 Bracelets & Bangles(id=106)
        Category3-1 Brooches(id=67)
        Category3-2 Charms & Pendants(id=107)
        Category3-3 Earrings(id=64)
        Category3-4 Necklaces(id=62)
        Category3-5 Rings(id=65)
        Category3-6 Watches(id=61)
    Category2-2 Belts(id=52)
    Category2-3 Eyewear(id=4426)
        Category3-0 Eyeglasses(id=4428)
        Category3-1 Sunglasses(id=57)
    Category2-4 Gloves(id=53)
    Category2-5 Hair(id=58)
    Category2-6 Hats(id=55)
    Category2-7 Scarves(id=105)
    Category2-8 Tech(id=1967)
    Category2-9 Umbrellas(id=59)


Category1
[2, 41, 51]
{41: u'Shoes', 2: u'Clothing', 51: u'Accessories'}


Category1 map Category2
{41: [268, 42, 267, 47, 265, 266, 43, 46, 49], 2: [3, 7, 11, 23, 27, 28, 29, 242, 108, 31, 33], 51: [35, 60, 52, 4426, 53, 58, 55, 105, 1967, 59]}
Category2 map Category1
{3: 2, 7: 2, 265: 41, 266: 41, 11: 2, 268: 41, 23: 2, 27: 2, 28: 2, 29: 2, 31: 2, 33: 2, 35: 51, 42: 41, 43: 41, 46: 41, 47: 41, 49: 41, 52: 51, 53: 51, 55: 51, 58: 51, 59: 51, 60: 51, 267: 41, 1967: 51, 4426: 51, 105: 51, 108: 2, 242: 2}


Category2
[3, 7, 11, 23, 27, 28, 29, 242, 108, 31, 33, 268, 42, 267, 47, 265, 266, 43, 46, 49, 35, 60, 52, 4426, 53, 58, 55, 105, 1967, 59]
{3: u'Dresses', 7: u'Skirts', 265: u'Loafers & Moccasins', 266: u'Oxfords', 11: u'Tops', 268: u'Athletic', 23: u'Outerwear', 27: u'Jeans', 28: u'Pants', 29: u'Shorts', 31: u'Swimwear', 33: u'Activewear', 35: u'Bags', 42: u'Boots', 43: u'Pumps', 46: u'Sandals', 47: u'Flats', 49: u'Sneakers', 52: u'Belts', 53: u'Gloves', 55: u'Hats', 58: u'Hair', 59: u'Umbrellas', 60: u'Jewelry', 267: u'Clogs', 1967: u'Tech', 4426: u'Eyewear', 105: u'Scarves', 108: u'Intimates', 242: u'Jumpsuits & Rompers'}


Category2 map Category3
{3: [4, 5, 6], 7: [8, 9, 10], 265: [], 266: [], 11: [17, 18, 19, 20, 104, 21, 15], 268: [], 23: [24, 25, 26], 27: [238, 240, 4452, 237, 310, 239], 28: [332, 241], 29: [], 31: [1605, 1606, 1607], 33: [256, 253, 255, 254, 257, 309, 252], 35: [259, 318, 258, 40], 42: [261, 262, 263, 264], 43: [], 46: [48], 47: [], 49: [], 52: [], 53: [], 55: [], 58: [], 59: [], 60: [106, 67, 107, 64, 62, 65, 61], 267: [], 1967: [], 4426: [4428, 57], 105: [], 108: [245, 247, 248, 68, 85, 246, 250], 242: [243, 244]}
Category3 map Category2
{256: 33, 257: 33, 258: 35, 259: 35, 4: 3, 5: 3, 6: 3, 263: 42, 8: 7, 9: 7, 10: 7, 15: 11, 17: 11, 18: 11, 19: 11, 20: 11, 21: 11, 24: 23, 25: 23, 26: 23, 261: 42, 262: 42, 40: 35, 48: 46, 264: 42, 309: 33, 310: 27, 57: 4426, 61: 60, 318: 35, 64: 60, 65: 60, 67: 60, 68: 108, 1605: 31, 1606: 31, 1607: 31, 4428: 4426, 62: 60, 332: 28, 85: 108, 4452: 27, 104: 11, 106: 60, 107: 60, 237: 27, 238: 27, 239: 27, 240: 27, 241: 28, 243: 242, 244: 242, 245: 108, 246: 108, 247: 108, 248: 108, 250: 108, 252: 33, 253: 33, 254: 33, 255: 33}


Category3
[4, 5, 6, 8, 9, 10, 17, 18, 19, 20, 104, 21, 15, 24, 25, 26, 238, 240, 4452, 237, 310, 239, 332, 241, 243, 244, 245, 247, 248, 68, 85, 246, 250, 1605, 1606, 1607, 256, 253, 255, 254, 257, 309, 252, 261, 262, 263, 264, 48, 259, 318, 258, 40, 106, 67, 107, 64, 62, 65, 61, 4428, 57]
{256: u'Jackets', 257: u'Sports Bras', 258: u'Messenger Bags', 259: u'Backpacks', 4: u'Day', 5: u'Cocktail', 6: u'Gowns', 263: u'Knee High', 8: u'Mini', 9: u'Knee Length', 10: u'Long', 15: u'Tunics', 17: u'Blouses', 18: u'Cardigans', 19: u'Sweaters', 20: u'Sweatshirts & Hoodies', 21: u'T-Shirts', 24: u'Coats', 25: u'Jackets', 26: u'Vests', 261: u'Ankle Bootie', 262: u'Mid Calf', 40: u'Wallets', 48: u'Flip Flops', 264: u'Over-The-Knee', 309: u'Tank Tops', 310: u'Straight Leg', 57: u'Sunglasses', 61: u'Watches', 318: u'Handbags', 64: u'Earrings', 65: u'Rings', 67: u'Brooches', 68: u'Hosiery', 1605: u'Bikinis', 1606: u'One Piece', 1607: u'Cover-Ups', 4428: u'Eyeglasses', 62: u'Necklaces', 332: u'Capri & Cropped', 85: u'Sleepwear', 4452: u'Flared', 104: u'Tanks', 106: u'Bracelets & Bangles', 107: u'Charms & Pendants', 237: u'Skinny', 238: u'Bootcut', 239: u'Wide Leg', 240: u'Boyfriend', 241: u'Leggings', 243: u'Jumpsuits', 244: u'Rompers', 245: u'Bras', 246: u'Panties & Thongs', 247: u'Camisoles', 248: u'Chemises', 250: u'Robes', 252: u'Tops', 253: u'Pants', 254: u'Skirts', 255: u'Shorts'}

In [80]:
for i in xrange(len(items_df)):
    
    if items_df.category2_id[i] in category1_list:
        items_df.category1[i] = items_df.category2_id[i]
        
    elif items_df.category2_id[i] in category2_list:
        items_df.category2[i] = items_df.category2_id[i]
        items_df.category1[i] = category2_map_category1[items_df.category2[i]]
        
    elif items_df.category2_id[i] in category3_list:
        items_df.category3[i] = items_df.category2_id[i]
        items_df.category2[i] = category3_map_category2[items_df.category3[i]]
        items_df.category1[i] = category2_map_category1[items_df.category2[i]]
        
    if items_df.category3_id[i] in category2_list:
        items_df.category2[i] = items_df.category3_id[i]
        
    elif items_df.category3_id[i] in category3_list:
        items_df.category3[i] = items_df.category3_id[i]
        items_df.category2[i] = category3_map_category2[items_df.category3[i]]

/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/Users/michellechen/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [81]:
items_df

,item_id,category2_id,category2_name,category3_id,category3_name,category4_id,category4_name,category1,category2,category3
0,10517,60,Jewelry,67,Brooches,0,NaN,51,60,67
1,12045,41,Shoes,46,Sandals,0,NaN,41,46,
2,14024,318,Handbags,38,Clutches,38,Swarovski clutches,51,35,318
3,36366,11,Tops,19,Sweaters,19,DAY Birger et Mikkelsen sweaters,2,11,19
4,74666,60,Jewelry,64,Earrings,0,NaN,51,60,64
5,78059,2,Clothing,0,NaN,0,NaN,2,,
6,98959,11,Tops,104,Tank Tops,104,American Eagle Outfitters tops,2,11,104
7,99084,60,Jewelry,65,Rings,0,NaN,51,60,65
8,105737,2,Clothing,23,Outerwear,24,Coats,2,23,
9,106678,60,Jewelry,62,Necklaces,0,NaN,51,60,62
10,126851,11,Tops,17,Blouses,17,Charlotte Russe blouses,2,11,17
11,140598,2,Clothing,3,Dresses,3,Biba dresses,2,3,
12,183612,41,Shoes,0,NaN,0,NaN,41,,
13,197231,108,Intimates,68,Hosiery,251,Tights,2,108,68
14,201114,60,Jewelry,106,Bracelets & Bangles,106,Chanel bracelets,51,60,106
15,215615,60,Jewelry,64,Earrings,64,Banana Republic earrings,51,60,64
16,229084,60,Jewelry,64,Earrings,0,NaN,51,60,64
17,234287,41,Shoes,43,Pumps,43,Chie Mihara pumps,41,43,
18,241194,2,Clothing,11,Tops,104,Tank Tops,2,11,
19,250891,41,Shoes,42,Boots,261,Ankle Booties,41,42,
20,251617,51,Accessories,4426,Eyewear,57,Sunglasses,51,4426,
21,300909,2,Clothing,23,Outerwear,0,STELLA McCARTNEY,2,23,
22,320016,2,Clothing,23,Outerwear,24,Coats,2,23,
23,323055,2,Clothing,23,Outerwear,0,NaN,2,23,
24,334804,41,Shoes,47,Flats,0,NaN,41,47,
25,337558,51,Accessories,4426,Eyewear,57,Sunglasses,51,4426,
26,343261,2,Clothing,27,Jeans,0,NaN,2,27,
27,374502,60,Jewelry,62,Necklaces,0,NaN,51,60,62
28,389117,35,Bags,318,Handbags,318,Chanel handbags,51,35,318
29,404414,2,Clothing,11,Tops,104,Tank Tops,2,11,
...,...,...,...,...,...,...,...,...,...,...
355139,230263481,41,Shoes,0,NaN,0,NaN,41,,
355140,230264881,41,Shoes,46,Sandals,46,Giuseppe Zanotti sandals,41,46,
355141,230271181,41,Shoes,46,Sandals,46,Schutz sandals,41,46,
355142,230284944,2,Clothing,0,NaN,0,NaN,2,,
355143,230285770,41,Shoes,46,Sandals,0,NaN,41,46,
355144,230289049,108,Intimates,68,Hosiery,251,Tights,2,108,68
355145,230289158,60,Jewelry,64,Earrings,0,NaN,51,60,64
355146,230289311,2,Clothing,108,Intimates,0,NaN,2,108,
355147,230292063,2,Clothing,0,NaN,0,NaN,2,,
355148,230293002,35,Bags,318,Handbags,36,Tote Bags,51,35,318
355149,230294115,41,Shoes,49,Sneakers,49,Prada sneakers,41,49,
355150,230297593,51,Accessories,4426,Eyewear,57,Sunglasses,51,4426,
355151,230299005,42,Boots,261,Ankle Booties,261,N°21 ankle booties,41,42,261
355152,230299013,42,Boots,261,Ankle Booties,261,N°21 ankle booties,41,42,261
355153,230299051,33,Activewear,253,Activewear Pants,253,adidas Originals activewear pants,2,33,253
355154,230303561,2,Clothing,3,Dresses,5,Cocktail Dresses,2,3,
355155,230303608,2,Clothing,3,Dresses,5,Cocktail Dresses,2,3,
355156,230304340,2,Clothing,0,NaN,0,NaN,2,,
355157,230304898,2,Clothing,28,Pants,28,Topshop pants,2,28,
355158,230304902,2,Clothing,28,Pants,28,Topshop pants,2,28,
355159,230304905,2,Clothing,28,Pants,28,Topshop pants,2,28,
355160,230304906,2,Clothing,28,Pants,28,Topshop pants,2,28,
355161,230306632,23,Outerwear,25,Jackets,236,Blazers,2,23,25
355162,230306645,23,Outerwear,25,Jackets,236,Blazers,2,23,25
355163,230306902,60,Jewelry,64,Earrings,0,NaN,51,60,64
355164,230307682,35,Bags,0,NaN,0,NaN,51,35,
355165,230308429,35,Bags,258,Messenger Bags,0,NaN,51,35,258
355166,230308582,41,Shoes,46,Sandals,0,NaN,41,46,
355167,230347584,11,Tops,21,T-Shirts,21,Yves Saint Laurent t-shirts,2,11,21
355168,230430306,35,Bags,318,Handbags,0,NaN,51,35,318

In [82]:
import csv

items_df = items_df.drop(["category2_id", "category2_name", "category3_id", "category3_name", "category4_id", "category4_name"], axis=1)
items_df

# Write new csv to store reset category data
items_df.to_csv('item_category.csv', encoding='utf-8', index=False)

In [ ]:
# Generate item category into json format

import json

data = []

category1_num = 3
category1_id = [2, 41, 51]
category1_name = ['Clothing', 'Shoes', 'Accessories']
category1_link = ['https://www.polyvore.com/clothing/shop?category_id=2', 
                  'https://www.polyvore.com/shoes/shop?category_id=41', 
                  'https://www.polyvore.com/accessories/shop?category_id=51']
# Headers
head = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.65 Safari/537.36'}

for i in xrange(category1_num):
    res = requests.get(category1_link[i], headers = head)
    soup = BeautifulSoup(res.text, "html.parser")
    
    # Initialize category2 
    category2_num = 0
    category2_id = []
    category2_name = []
    category2_link = []
    sub_categories1 = []
    
    if i == 0:
        secondary = soup.select('.tertiary_nav.new_masthead.clearfix')[0].select('.tab')[0:-1]
    else:
        secondary = soup.select('.tertiary_nav.new_masthead.clearfix')[0].select('.tab')
        
    # line in secondary categories
    for line in secondary:
        category2_link.append('https://www.polyvore.com/' + line['href'][3:])
        category2_id.append(int(line['href'].split('id=')[-1]))
        category2_name.append(line.text)
        
        # Initialize category3
        category3_num = 0
        category3_id = []
        category3_name = []
        category3_link = []
        sub_categories2 = []
        
        for category2 in soup.select('.mod_secondary_subnav'):
            
            # If category2 has sub categories
            if category2.select('a')[0].text == category2_name[category2_num]: 
        
                # line in third categories
                for sub_line in category2.select('.dock_bl')[0].select('li'):
                    category3_link.append('https://www.polyvore.com/' + sub_line.select('a')[0]['href'][3:])
                    category3_id.append(int(sub_line.select('a')[0]['href'].split('id=')[-1]))
                    category3_name.append(sub_line.select('a')[0].text)
                    
                    sub_categories2.append({'category3_id': category3_id[category3_num],
                                            'category3_name': category3_name[category3_num],
                                            'category3_link': category3_link[category3_num]})
                    
                    category3_num = category3_num + 1
        
        sub_categories1.append({'category2_id': category2_id[category2_num],
                                'category2_name': category2_name[category2_num],
                                'category2_link': category2_link[category2_num],
                                'sub_categories': sub_categories2})
        
        category2_num = category2_num + 1
        
    data.append({'category1_id': category1_id[i], 
                 'category1_name': category1_name[i], 
                 'category1_link': category1_link[i],
                 'sub_categories': sub_categories1})

json = json.dumps(data , sort_keys=True, indent=4, separators=(',', ': '), encoding='utf-8')
print json

# Write json data into the file
with open('item_category.json', 'w') as f:
    f.write(json)